<!--ZOE HIGHTOWER-->
{% extends "layout.html" %}
{% block content %}
<html lang="en">
<head>
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
    rel="stylesheet" crossorigin="anonymous">
    <script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
    <script>
        var results = {{ results | tojson }};
        var query = {{ query | tojson }};
        var result_count = {{ result_count | tojson }};
    </script>
    
    
</head>
<body>
    <div class="search_container">
    <div class="search_header">
    <h1>Search Results for <span class="blue">"{{ query }}"</span></h1>
    <p>{{ result_count }} results found.</p>
</div>
    <div class="results row">
        {% if results %}
            <a id="band"></a>
        {% else %}
        <div class="center">
            <p>No results found</p>
        </div>
        {% endif %}
    </div>
</div>
    
</body>
</html>
{% endblock %}

